/* 
 * Variable scope is a selector.
 * You may choose body as selector or :root also works 
 */
.sandbox {
  --primary-color: orangered;
  --secondary-color: hotpink;
  --base-mesurement: 20px;
}

/* Access the variable by using the var() function */
.sandbox .box {
  text-align: center;

  --text-color: #f3f3f3;

  color: var(--text-color);

  background: var(--primary-color);
  margin: var(--base-mesurement);

  /* You can do math by including the calc() function! */
  height: calc(var(--base-mesurement) * 10);
  width: calc(var(--base-mesurement) * 10);
  line-height: calc(var(--base-mesurement) * 10);
}

.sandbox .box2 {
  background-color: var(--secondary-color);
}
